@font-face {
  font-family: 'Poppins';
  src: url('https://d2jha2rr7vq42v.cloudfront.net/fonts/poppins/Poppins-Regular.ttf')
    format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins-Bold';
  src: url('https://d2jha2rr7vq42v.cloudfront.net/fonts/poppins/Poppins-Bold.ttf')
    format('truetype');
  font-weight: 700;
  font-style: normal;
}
